html{
  font-family: 'Rajdhani', sans-serif !important;
    background: #5CDB95; /* Standard syntax */
    background-size: cover;
    height: 100vh;
    min-height: 100vh;
}
body{
  height: 100vh;
  width: 100vw;
  background-color: transparent;
}
.container{
  height: 50vh;
  width: 50vw;
  align-self: center;
  margin-left: 7.5%;
  color: white;
}
#hardwareCarousel{
  width: 100%;
  height: 100%;
}
.carousel-inner{
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.carousel-item{
  align-content: center;
  height: 50vh;
  width: 50vw;
  max-height: 100% !important;
  max-width: 100% !important;
}
.img-responsive{
  max-height: 100%;
  max-width: 100%;
  padding-left: 20%;
  padding-bottom: 10%;
  height: 100%;
  width: auto;
}
.card{
  color: white;
  background-color: #05386B;
}
.card-body{
  height: 100%;
  width: 100%;
}
.card-img-overlay{
  max-height: 100%;
  max-width: 100%;
}
.card-group{
  height: 25vh;
}
.text-muted{
  bottom:0px;
}
#master{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
}
#headshot{
  width: auto;
  height: 100%;
}
#title{
  height: 100%;
  width: auto;
  right: 0px;
}
#navcol{
  width:200px;
}
#namebar{
  position: fixed;
  margin-top: 150px;
  top:0px;
  left: 85px;
  width: 35px;
  padding: 0px;
  height: calc(100vh - 150px);
}
#namebadge{
  transform: none !important;
  height: 150px;
  width: 200px;
  font-size: 50px;
  font-family: 'Rajdhani', sans-serif !important;
  text-align: center;
  background-color: #05386B;
  color: #5CDB95;
  font-weight: bolder;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
}

.navi{
  font-family: 'Rajdhani', sans-serif !important;
  height: calc((100vh - 150px)/4);
  width: 35px;
  margin: 0px;
  background-color: #05386B;
  text-align: center;

}
a{
  margin: 0px;
  padding: 0px;
  text-align: center;
  transform:rotate(90deg);
  position: absolute;
  left: 0px;
  right: 0px;
  margin-top: 25px;
  font-size: 25px;
  font-family: 'Rajdhani', sans-serif !important;
  color: white;
}
a:hover{
  color: #5CDB95;
}
#activetab{
  font-weight: bolder;
}
#headline{
  color: white;
}
#carouselcardholder{
  height: 100%;
  width: 100%;
}
