html{
  font-family: 'Rajdhani', sans-serif !important;
    background: #5CDB95; /* Standard syntax */
    background-size: cover;
    height: 100vh;
    min-height: 100vh;
}
h3, h4, p{
  font-family: 'Rajdhani', sans-serif !important;
  background-color: #05386B;
  color: #5CDB95;
  font-weight: bold;
}
.img-responsive{
  background-size: cover;
  background-position: center center;
}
#hamburger{
  display: none;
}
#title{
  display: none;
}
body{
  height: 100vh;
  width: 100vw;
  background-color: transparent;
}
#slideshowholder{
  height: 50vh;
  width: 50vw;
  align-self: center;
  margin-left: 7.5%;
  color: white;
}
#hardwarecardholder{
  margin: 0px;
}
#hardwareCarousel{
  width: 100%;
  height: 100%;
}
.carousel-inner{
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.carousel-item{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 50vh;
  width: 50vw;
  max-height: 100% !important;
  max-width: 100% !important;
}
.img-responsive{
  max-height: 100%;
  max-width: 100%;
  padding-left: 20%;
  padding-bottom: 10%;
  height: 100%;
  width: auto;
}
.card{
  color: white;
  background-color: #05386B;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 0px;
}
.card-body{
  height: 100%;
  width: 100%;
}
.card-img-overlay{
  max-height: 100%;
  max-width: 100%;
}
.card-group{
  height: 25vh;
}
.text-muted{
  bottom:0px;
}
#master{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
}
#headshot{
  width: auto;
  height: 100%;
}

#navcol{
  width:200px;
}
#namebar{
  position: fixed;
  margin-top: 150px;
  top:0px;
  left: 85px;
  width: 35px;
  padding: 0px;
  height: calc(100vh - 150px);
}
#namebadge{
  transform: none !important;
  height: 150px;
  width: 200px;
  font-size: 50px;
  font-family: 'Rajdhani', sans-serif !important;
  text-align: center;
  background-color: #05386B;
  color: #5CDB95;
  font-weight: bolder;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
}

.navi{
  font-family: 'Rajdhani', sans-serif !important;
  height: calc((100vh - 150px)/4);
  width: 35px;
  margin: 0px;
  background-color: #05386B;
  text-align: center;

}
a{
  margin: 0px;
  padding: 0px;
  text-align: center;
  transform:rotate(90deg);
  position: absolute;
  left: 0px;
  right: 0px;
  margin-top: 25px;
  font-size: 25px;
  font-family: 'Rajdhani', sans-serif !important;
  color: white;
}
a:hover{
  color: #5CDB95;
}
#activetab{
  font-weight: bolder;
}
#headline{
  color: white;
}
#carouselcardholder{
  height: 100%;
  width: 100%;
}

@media screen and (orientation: portrait){
  #main{
    width: 100vw !important;
  }
  #title{
    display: inline;
    padding-left: 15px;
    width: 100%;
    height: 10%;
    right: 0px;
  }
  #navcol{
    display: none;
    width: 0px;
    height: 0px;
    padding: 0px;
    margin: 0px;
  }
  #carouselcardholder{
    margin: 0px;
    padding: 0px;
    margin-top: 15vh;
  }
  #slideshowholder{
    margin: 0px;
    padding: 0px;
    height: 45vh;
    width: 100%;
  }
  #hardwarecardholder{
    margin: 0px !important;
    padding: 0px;
    height: 40vh;
    width: 100%;
  }
  .card-group{
    display: flex;
    width: 100vw;
    height: 20vh;
    overflow: hidden;
  }
  .card{
    width: 33.3vw;
    overflow: hidden;
    height: 20vh;
  }

  #navibar{
    width: 100%;
    margin-top: 2.5%;
    height: 10%;
    visibility: visible;
    position: fixed;
    left: 10px;
    top: 10px;
  }
  #navibadge{
    font-family: 'Rajdhani', sans-serif !important;
    margin-left: 2.5%;
    height: 15vw;
    width: 20.5vw;
    font-size: 5vw;
    overflow: hidden;
    vertical-align: center;
    text-align: center;
    background-color: #05386B;
    color: #5CDB95;
    font-weight: bolder;
  }
  .mobinav{
    margin-top: 6vw;
    height: 3vw;
    font-size: 3vw;
    vertical-align: middle;
    font-family: 'Rajdhani', sans-serif !important;
    text-align: center;
    padding: 0px !important;
    display: table-cell;
    line-height: 100%;
    width: 20.625%;
    background-color: #05386B;
  }
  a{
    position: relative;
    transform: none;
    display: table-cell;
    height: inherit;
    width: inherit;
    line-height: 100%
    font-family: 'Rajdhani', sans-serif !important;
    font-size: inherit;
    color: white;
    font-weight: normal;
  }

}
@media screen and (orientation: landscape){
  @media(max-height: 650px){
    #namebadge{
      width: 100px;
      height: 75px;
      font-size: 22.5px;
    }
    #namebar{
      display: none;
    }
    #hamburger{
      transform-origin: center;
      display: inline;
      color: white;
      background-color: #05386B;
      position: fixed;
      line-height: 22.5px;
      text-align: center;
      left: 37.5px;
      width: 25px;
      height: 25px;
      top: 80px;
      font-size: 20px;

    }
    a{
      transform: none;
    }
  }
  @media(max-height:350px){
    #hardwarecardholder{
      display: none;
    }
    #slideshowholder{
      height: 100%;
      width: 100%;
    }
  }
}
